<div class="item" data-bookmark="{{BOOKMARK}}" data-categories="{{CATEGORIES}}" data-ingredients="{{INGREDIENTS}}"
    data-caption="{{CAPTION}}">
    <div class="item-contents">
        <div class="item-image-container">
            <a href="{{CAPTION}}"><img src="{{IMG_URL}}" alt="{{CAPTION}}"></a>
        </div>
        <div class="item-info-container">
            <span class="item-title">{{CAPTION}}</span>
        </div>
        <div class="item-button-container">
            <button type="button" id="bookmark" class="fa-star far"></button>
            <button type="button" id="trash" class="fa-trash fas"></button>
        </div>
    </div>
</div>